<!DOCTYPE html>
<html lang="en">
  <body>
    <h1 align="center">User List</h1>
    <table align="center">
      <tr>
        <td>user Id</td>
        <td>user Name</td>
        <td>Username</td>
        <td>Email Id</td>
        <td>Contact</td>
      </tr>
      {% for u in users%}
      <tr>
        <td>{{ u.user_id}}</td>
        <td>{{ u.user_name}}</td>
        <td>{{u.user_username}}</td>
        <td>{{u.user_email}}</td>
        <td>{{u.user_contact }}</td>
      </tr>

      {% endfor %}
    </table>
  </body>
</html>
